.textColor{
    color: brown;
}

#ol_map {
    height: 800px;
    width: 100%;
  }

.sideBar{

  }
/* Controls */

.ol-control button{
  background-color: rgba(30, 115, 65, 0.4)
}

.ol-control button:hover{
  background-color: rgba(30, 115, 65, 1)
}

.ol-control button:focus{
  background-color: rgba(30, 115, 65, 0.8)
}

.ol-zoom{
  /*margin-left: 10px*/
  left: unset;
  right: 15px
}

.ol-zoom .ol-zoom-in{
  border-radius: 15%
}

.ol-zoom .ol-zoom-out{
  border-radius: 15%
}

.ol-overviewmap{
  bottom: 60px
}